@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.add-warehouse {
  margin-top: 7.5rem;
  border-radius: 3px;
  margin: 8.5rem 1rem 0;
  box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
  background-color: $primary-white;
  position: relative;

  @include tablet {
    margin: 5.75rem 2rem 0;
  }

  @include desktop {
    margin: 5.75rem 130px 0;
  }

  &__page-header {
    padding: 2rem 1.5rem 1.5rem;
    position: relative;
    display: flex;
    align-items: center;

    @include tablet {
      padding: 2.375rem 1.5rem 1.75rem;
      border-bottom: 1px solid $secondary-cloud;
    }

    h2 {
      margin: 0;

      @include tablet {
        position: absolute;
        left: 3.5rem;
      }
    }
  }

  &__button-wrapper {
    background-color: rgba(247, 248, 249, 0.7);
    height: 4.25rem;
    padding: 1rem 1.5rem;
    display: flex;

    @include tablet {
      justify-content: flex-end;
      padding: 1rem 2rem;
    }
  }

  &__cancel-button,
  &__add-button {
    width: 100%;
  }

  &__add-button {
    @include tablet {
      width: 8.625rem;
    }
  }

  &__cancel-button {
    margin-right: 1rem;
    text-decoration: none;

    @include tablet {
      width: 4.5rem;
    }
  }

  img {
    width: 1.5rem;
    display: inline;
  }
}
