.warehouse-list {
  &__info-wrapper {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 1rem;
  }

  &__left-col {
    width: 45%;
  }

  &__right-col {
    width: 50%;
  }

  &__icon-wrapper {
    display: flex;
    padding: 1rem;
    padding-top: 0;
    justify-content: space-between;
  }
}
